.input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

input {
  padding: 8px;
  font-size: 14px;
}
.main-container {
  position: relative;
  z-index: 1; 
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #2596be;
  color: #fff;
  align-items: center;
  padding: 10px;
}

.user-guide-btn {
  padding: 8px 16px;
  cursor: pointer;
}

.map-container {
  width: 60%;
}

.tollDetails{
  margin-left: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.calculatebtn {
  padding: 10px;
  background-color: #2596be;
  color: #fff;
  border: none;
  width: 250px;
  border-radius: 20px;
}

.calculatebtn:hover {
  background-color: #063970
}